<?xml version="1.0" encoding="UTF-8"?>
<web-app>
<!--
contex-param  传入spring bean的配置
ContextLoaderListener 拉起spring容器
servlet 走所有的request
 -->
    <servlet>
        <servlet-name>DispatcherServlet</servlet-name>
        <servlet-class>com.jin.learn.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DispatcherServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

</web-app>
